<?php
define('DB_NAME', '<%= userInput.dbName %>');

/** MySQL database username */
define('DB_USER', '<%= userInput.dbUser %>');

/** MySQL database password */
define('DB_PASSWORD', '<%= userInput.dbPass %>');

/** MySQL hostname */
define('DB_HOST', '<%= userInput.dbHost %>');

?>
